body {
    background-color:BLACK;
    color:RED;
    text-align:center;
    font-family:"Arial";
}

a {
    color:ORANGE;
}

canvas {
    background-color:#2F2F2F;
    margin-left:auto;
    margin-right:auto;
}